body{
	
	
	
	background-repeat: no-repeat!important;
	background-attachment: fixed!important;
	background-size:  cover !important;
	
	
background: rgba(76,76,76,1);
background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,0.95) 12%, rgba(102,102,102,0.92) 20%, rgba(71,71,71,0.88) 30%, rgba(44,44,44,0.84) 39%, rgba(0,0,0,0.79) 51%, rgba(17,17,17,0.72) 69%, rgba(43,43,43,0.66) 82%, rgba(28,28,28,0.63) 91%, rgba(19,19,19,0.59) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,0.95)), color-stop(20%, rgba(102,102,102,0.92)), color-stop(30%, rgba(71,71,71,0.88)), color-stop(39%, rgba(44,44,44,0.84)), color-stop(51%, rgba(0,0,0,0.79)), color-stop(69%, rgba(17,17,17,0.72)), color-stop(82%, rgba(43,43,43,0.66)), color-stop(91%, rgba(28,28,28,0.63)), color-stop(100%, rgba(19,19,19,0.59)));
background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,0.95) 12%, rgba(102,102,102,0.92) 20%, rgba(71,71,71,0.88) 30%, rgba(44,44,44,0.84) 39%, rgba(0,0,0,0.79) 51%, rgba(17,17,17,0.72) 69%, rgba(43,43,43,0.66) 82%, rgba(28,28,28,0.63) 91%, rgba(19,19,19,0.59) 100%);
background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,0.95) 12%, rgba(102,102,102,0.92) 20%, rgba(71,71,71,0.88) 30%, rgba(44,44,44,0.84) 39%, rgba(0,0,0,0.79) 51%, rgba(17,17,17,0.72) 69%, rgba(43,43,43,0.66) 82%, rgba(28,28,28,0.63) 91%, rgba(19,19,19,0.59) 100%);
background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,0.95) 12%, rgba(102,102,102,0.92) 20%, rgba(71,71,71,0.88) 30%, rgba(44,44,44,0.84) 39%, rgba(0,0,0,0.79) 51%, rgba(17,17,17,0.72) 69%, rgba(43,43,43,0.66) 82%, rgba(28,28,28,0.63) 91%, rgba(19,19,19,0.59) 100%);
background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,0.95) 12%, rgba(102,102,102,0.92) 20%, rgba(71,71,71,0.88) 30%, rgba(44,44,44,0.84) 39%, rgba(0,0,0,0.79) 51%, rgba(17,17,17,0.72) 69%, rgba(43,43,43,0.66) 82%, rgba(28,28,28,0.63) 91%, rgba(19,19,19,0.59) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
	
}

div.opac{
	background-color: rgba(255,255,255 0,3);
	



}

.nav-item:nth-child(4){
float:right!important;
}

.nav-item:nth-child(3){
float:right!important;
}

.nav-item:nth-child(2){
float:right!important;
}




.container.body{
	opacity: 1;
	margin: 0;
	padding: 0;
}

.bg{
	background-color: whitesmoke!important;
	margin-bottom: 50px;
}

div.col-md-8 h2{
	margin-top: 25px;

}

.fleche{
	background-image:url("../img/fleche.png")!important;
	background-size: cover;
	height:80px;
	width:80px;
	display: flex;
	justify-content: center;

	margin-left:120px;
	/*margin-top: 20px;*/

}

/*div.col-md-4:first-child{

	border: 6px green;
}*/

#bgw{
	float:right;
	color:black;
	background-color: white;
	font-size: 20px;
}



#bgp{
	
	margin-left: 130px;
	background-image:url("../img/abstract.jpg");
	background-size: 80px 80px;
	width: 80px;
	height:80px;	
}

#bgp1{
	
	margin-right: 10px;
	background-image:url("../img/abstract.jpg");
	background-size: 80px 80px;
	width: 80px;
	height:80px;	
}

header{
		padding-top: 100px;
		margin-bottom: 50px;
		text-shadow: 2px 2px 2px yellow;
		color: black;
		font-size: 12px!important;		

}

.hr{

	border-bottom: 5px red;


}

.container-fluid.car{
	
	
	font-size: 12px!important;
}

.carousel-caption:nth-child(3n+0) {

	margin-bottom: 250px;
}



section{
	background-color: whitesmoke;
	margin-top: 50px;
	font-size: 12px!important;
	padding-top: 25px;
}

wow = new WOW(
{
	boxClass: 'wow', 		  	// default
	animateClass: 'animated',   // default
	offset: 0,					// default
	mobile:  true,				// default
	live: true,					// default
	}
	)
	wow.init();
	}

section.col-md-4{
	display: flex;
	justify-content: flex-end;
	font-size: 12px!important;

}

div.col-md-8 h2{
	font-size: 16px!important;
	
}

div.img1{
	height:150px;
	width:100%;
	background-image:url("../img/bootstrap.png");
	background-size: cover;
	background-position: center;
	}
	

div.img2{
	height:150px;
	width:100%;
	background-image:url("../img/kali.jpg");
	background-size: cover;
	background-position: center;
	
}


div.img3{
	height:150px;
	width:100%;
	background-image:url("../img/php.jpg");
	background-size: cover;
	background-position: center;

}






section.col-md-4:nth-child(3){
	margin-top: 350px;
	float:right;
	display: flex;
	justify-content: flex-end;

}

.In{
	background-image:url("../img/in.png");
	width: 128px;
	height: 128px;
}

.git{
	background-image:url("../img/git.png");
	
	width: 128px;
	height: 128px;
}

.twitter{
	background-image:url("../img/twit.png");
	width: 128px;
	height: 128px;
}


.col-lg-4.project{

	width: 150px;
	height: 150px;
	border: 1px solid red;
	background-color: grey;
	margin-left :10%;
	margin-top: 5%;
	font-size: 20px!important;


}

.jumbotron{
	height: 1080px!important;


}

.twenty{
	background-image: url("../img/twenty.png");
	background-size: cover;
	height: 150px;
	width: 150px;
	font-size: 15px;

}

.V2{
	background-image: url("../img/2tech.png");
	background-size: cover;
	height: 150px;
	width: 150px;
	font-size: 15px;

}

.tech{
	background-image: url("../img/gestion.png");
	background-size: cover;
	height: 150px;
	width: 150px;
	font-size: 15px;

}

.FM{
	background-image: url("../img/FM.png");
	background-size: cover;
	height: 150px;
	width: 150px;
	font-size: 15px;

}

.FM{
	background-image: url("../img/FM.png");
	background-size: cover;
	height: 150px;
	width: 150px;
	font-size: 15px;

}

.wana{
	background-image: url("../img/wana.png");
	background-size: cover;
	height: 150px;
	width: 150px;
	font-size: 15px;

}

.eye{
	background-image: url("../img/eye.png");
	background-size: cover;
	height: 150px;
	width: 150px;
	font-size: 15px;

}

a:hover{
	color: red!important;
	background-color: whitesmoke;
	text-decoration: none;
	font-size: 25px;


}

h6.nintendo{
	display:flex;
	justify-content: center;
	color: red;
	font-family:"VT323";
	color:red;
	box-shadow: -2px 1px 1px 6px ;
	border-radius: 100px;
	border-color: red;
	background-color: white;
	margin-left:350px;
	margin-right: 350px;
	margin-top:50px;
}

h6.regular{
	display:flex;
	justify-content: center;
	color: red;
	font-family:"VT323";
	color:red;
	box-shadow: -2px 1px 1px 6px ;
	border-radius: 100px;
	border-color: red;
	background-color: white;
	margin-left: 90%;	
	padding-left:250px;
	padding-right: 250px;
	text-align: initial;
}


pre{

	background-color: gray;
	color: whitesmoke;	


}

footer{
	margin-top: 50px;
  	background-color: whitesmoke;

}

section.col-md-4{
	display:flex;
	justify-content: center;
	margin-left: 650px!important;
	}

.place{
	background-color: ;
	display:flex;
	justify-content: center;
	margin-left: 80px;	
}

/*figcaption{
	display: flex;
	justify-content: center!important;
	margin-left: 350px;


}*/

button.stoned {
	display: flex;
	justify-content: center;
	margin-left: 45%;

	}

	form{
		float :right;
		margin-right: 350px


	}



	div.row{
		display: inline-block!important;



	}